services:
  db:
    image: postgres
    volumes:
      - $HOME/srv/postgres:/var/lib/postgresql
    expose:
      - "5432"
    ports:
      - "5432:5432"
    restart: always
  app:
    build: .
    expose:
      - "8080"
    ports:
      - "8080:8080"
    depends_on:
      - db